doctype html
html(lang="th")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title แม่ข่าพาร์ต POS
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/loadfonts.css")
    link(rel="icon", href="/favicon.ico")
    script(src="/dist/bundle.js" defer)
  body
    div(id="alert-container")
      if messages
        each message in messages
          span(class=`message-box ${message.type}`)
            span(class="message") #{message.text}
            button
    div(class="topbar")
      a(href="/" class="nav-link home-link")
        button(class="kn-reg") สแกน
      if user
        a(href="/update/user/password" class="nav-link")
          button(class="kn-reg") เปลี่ยนรหัส
        a(href="/logout" class="nav-link") 
          button(class="kn-reg") ออกจากระบบ
      else
        a(href="/login" class="nav-link")
          button(class="kn-reg") เข้าสู่ระบบ
        a(href="/register" class="nav-link")
          button(class="kn-reg") ลงทะเบียน
    div(id="qr-reader")
      div(id="render")
      div(class="close-btn-container")
        button(class="kn-reg" id="close-qr-btn") ยกเลิก

    block content