extends layout

block content
  h1(class="page-title kn-bold") เข้าสู่ระบบ
  form(class="registration-form" action="/login" method="POST")
    div(class="form-group")
      label(for="username" class="pp-bold") ชื่อผู้ใช้:
      input(type="text" name="username" autocomplete="off" placeholder="username" value=previousInput.username required)
    div(class="form-group")
      label(for="password" class="pp-bold") รหัสผ่าน:
      div(class="password-container")
        input(type="password" name="password" autocomplete="off" placeholder="password" value=previousInput.password required)
        span(type="button" class="toggle-password")
      if error
        p(class="error-message") #{error.message}
    div(style="margin-top: 20px;")
      button(class="form-submit kn-bold" type="submit") ยืนยัน

  div(class="bottom-link-container")
    a(class="bottom-link kn-reg" href="/register") ไม่มีบัญชีผู้ใช้? ลงทะเบียนที่นี่.