extends layout

block content
  h1(class="page-title kn-bold") ขออภัย
  p(class="kn-reg" style="text-align: center;") ไม่พบหน้าที่คุณต้องการ
  div(style="text-align: center; margin-top: 40px;")
    a(href="/") 
      button(class="page-not-found-redirect-btn") กลับไปหน้าแรก