.parts-container-card {
  width: 90vw;
  max-width: 800px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);

  .card-title {
    text-align: center;
    margin-bottom: 12px;
  }

  .btns-container {
    flex-wrap: wrap;
    gap: 10px;

    .card-btn {
      line-height: 1;
      padding: 8px 16px;
      background-color: #d0f0ff;
      color: #0077cc;
      border: none;
      border-radius: 6px;

      &:hover {
        background-color: #b0e0ff;
      }
  }
  }
}